.option-link {
    color: #cf8a9a; /* Defina a cor desejada aqui */
    text-decoration: none; /* Remova o sublinhado padrão */
  }
  
  .option-link:hover {
    color: rgb(86, 4, 38); /* Defina a cor ao passar o mouse */
  }
  
  .page-container {
    margin-top: 10px;
}
